<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.example.demo.mapper.MeetMapper">
	<resultMap id = "BaseResultMap" type = "com.example.demo.entity.Meet">
		<id column = "id" property = "id" jdbcType = "INTEGER"/>
		<result column = "tid" property = "tid" jdbcType = "INTEGER"/>
		<result column = "lid" property = "lid" jdbcType = "INTEGER"/>
		<result column = "address" property = "address" jdbcType = "VARCHAR"/>
		<result column = "time" property = "time" jdbcType = "DATE"/>
		<result column = "enable" property = "enable" jdbcType = "INTEGER"/>
	</resultMap>

	<resultMap id = "LoadName" type = "com.example.demo.entity.Meet" extends = "BaseResultMap">
		<collection property = "name" javaType = "com.example.demo.entity.MeetName">
			<result column = "tid" property = "id" jdbcType = "INTEGER"/>
			<result column = "t_name" property = "name" jdbcType = "VARCHAR"/>
			<result column = "lid" property = "id" jdbcType = "INTEGER"/>
			<result column = "l_name" property = "name" jdbcType = "VARCHAR"/>
		</collection>
	</resultMap>
	<!--	//	学生申请会面时间地点，时间管理员定下来，-->
	<!--	int Applymeet(@Param("lid")Integer lid,@Param("tid")Integer tid);-->
	<insert id = "Applymeet">
		INSERT INTO meet
		SET tid=#{tid},lid=#{lid}
	</insert>
	<!--	//	管理员批准，-->
	<!--	int Apply(@Param("id")Integer id,@Param("address") String address, @Param("time") Date time);-->
	<update id = "Apply">
		UPDATE meet
		SET address=#{address},time=#{time},enable=1
		WHERE id=#{id}
	</update>

	<!--	//	学生查看申请结果-->
	<!--	List<Meet> getApplySource(Integer tid);-->
	<select id = "getApplySource" resultMap = "BaseResultMap">
		SELECT *
		FROM meet
		WHERE tid=#{tid} AND enable=1
	</select>

	<!--	//	学生申请查看正在审核的数据-->
	<!--	List<Meet> getApplying(Integer tid);-->
	<select id = "getApplying" resultMap = "BaseResultMap">
		SELECT *
		FROM meet
		WHERE tid=#{tid} AND enable=null
	</select>

	<!--	//	学生申请查看未通过的数据-->
	<!--	List<Meet> getApplied(Integer tid);-->
	<select id = "getApplied" resultMap = "BaseResultMap">
		SELECT *
		FROM meet
		WHERE tid=#{tid} AND enable=0
	</select>
	<!--	//房主查看已经申请通过后的会面时间地点-->
	<!--	List<Meet> getApplyLandlord(Integer lid);-->
	<select id = "getApplyLandlord" resultMap = "BaseResultMap">
		SELECT *
		FROM meet
		WHERE lid=#{lid} AND enable=1
	</select>
	<!--	//	管理员查看所有未审批申请-->
	<!--	List<Meet> getApplyEnable(Integer enable);-->
	<select id = "getApplyEnable" resultMap = "LoadName">
		SELECT m.*,u1.`name` AS t_name,u2.`name` AS l_name
		FROM meet m,user u1,user u2
		WHERE m.enable=null AND u1.`id`=m.`tid` AND u2.`id`=m.`lid`
	</select>
	<!--管理员查看所有申请-->
	<select id = "getAllApply" resultMap = "LoadName">
		SELECT m.*,u1.`name` AS t_name,u2.`name` AS l_name
		FROM meet m,user u1,user u2
		WHERE u1.`id`=m.`tid` AND u2.`id`=m.`lid`
	</select>
</mapper>
